<fieldset class="form-group">
    <h4><span id="qid">{{#with (lookup ar a)}}{{question}}{{/with}}</span> <span id="question"></span></h4>
    <div class="option-block-container" id="question-options">
        <input type="radio">
        <label for="a">{{#with (lookup ar a)}}{{a}}{{/with}}</label><br>
        <input type="radio">
        <label for="a">{{#with (lookup ar a)}}{{b}}{{/with}}</label><br>
        <input type="radio">
        <label for="a">{{#with (lookup ar a)}}{{c}}{{/with}}</label><br>
        <input type="radio">
        <label for="a">{{#with (lookup ar a)}}{{d}}{{/with}}</label><br>


    </div> <!-- End of option block -->
</fieldset>